@keyframes gradient {
  0%{background-position:0% 50%}

    50%{background-position:100% 50%}

    100%{background-position:0% 50%}
}

.animate-gradient {
  background: linear-gradient(to left, #33d8b0, #9009f1);
  background-size: 200% 100%;
  animation: gradient 4s ease-in-out infinite;
}

@keyframes blob {
  0%{
    transform:translate(5vw, 0%) scale(1);
  }
  25%{
    transform: translate(20vw, 60vh) scale(1.2);
  }
  50%{
    transform: translate(50vw, 30vh) scale(0.8);
  }
  75%{
    transform: translate(30vw, 10vh) scale(0.9);
  }
  100%{
    transform:translate(5vw, 0%)  scale(1);
  }
}
.animate-blob{
  animation: blob 20s ease-in-out infinite;
}
.animation-delay-2000{
  animation-delay: 0.25s;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.rotate{
  animation: rotate 4s ease-in-out infinite;
}